@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* 初期化瀏覽器設定*/
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*裝飾背景設定：覆蓋瀏覽器尺寸、置中、視域高度高*/
.snow-container {
    background-image: url("images/christmas.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*裝飾背景設定：黑色漸層*/
.snow-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}

.snow-container h1 {
    color: white;
    font-size: 8rem;
    text-shadow: 1px 2px 15px black;
    z-index: 2;
}

/*下雪設定：白色、圓形、相對於父元素背景為絕對值*/
.snow {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: snowFall 10s linear;
    z-index: 2;
}

@keyframes snowFall {

    /*開始時在最上面的位置 全透明*/
    0% {
        opacity: 0;
        top: 0;
        transform: translateX(5px);
    }

    10% {
        opacity: 1;
        transform: translateX(-5px);
    }

    30% {

        transform: translateX(5px);
    }

    40% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    90% {
        opacity: 1;
    }

    /*結束時消失 從最上面0的位置抵達視高百分百*/
    100% {
        opacity: 0;
        top: 100vh;
    }
}
